.slick-slider {
    z-index: 1;

    .item {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align:center;
    }

    .slick-arrow {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 35px;
        background: transparent;
        border-top: 3px solid white;
        border-right: 3px solid white;
        border-bottom: 0px;
        border-left: 0px;
        box-shadow: 0 0 0 lightgray;
        transition: all 200ms ease;
        box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.2);

        &.prev {
            left: 35px;
            transform: translate3d(0, -50%, 0) rotate(-135deg);
        }

        &.next {
            right: 35px;
            transform: translate3d(0, -50%, 0) rotate(45deg);
        }

        &:hover {
            &.prev {
                left: 30px;
            }

            &.next {
                right: 30px;
            }
        }

    }

    ul.slick-dots {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        margin:0px;
        padding:0px;

        li {
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 2px;
            text-indent: -4000px;
            border: 1px solid white;
            border-radius: 10px;
            cursor: pointer;

            &.slick-active {
                background: white;
            }
        }
    }
}

.vic-widget-slider {
    .slick-slider {
        display: none;
        &.slick-initialized {
            display: block;
        }
    }
}
