body[role="admin-edit"] .vic-widget-slider > .vic-hover-widget,
body[role="admin-style"] .vic-widget-slider > .vic-hover-widget {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 40px;
    width: 40px;
    padding: 50px;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

body[role="admin-edit"] .vic-widget-slider,
body[role="admin-style"] .vic-widget-slider {
    min-height: 150px;
}

.vic-mask {
    position: relative;
    width: 100%;
    height: 100%;
    .vic-hover-widget, .vic-hover-widget:hover, .vic-hover-widget-unlink:hover {
        opacity: 0 !important;
        display: none !important;
    }
    &:after {
        content: ' ';
        top: 100%;
        left: 100%;
        width: 100%;
        height: 100%;
    }
}
