{% stylesheets filter='scss, cssrewrite'
    "@VictoireWidgetSliderBundle/Resources/public/css/bootstrap-slider.scss"
%}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
{% endstylesheets %}

<div id="carousel-{{ widget.id }}" class="carousel slide" data-ride="carousel" data-interval="0">
    <div class="carousel-inner" role="listbox">
        {% for item in widget.sliderItems %}
            {% set params = loop.first ? {'class' : 'active'} : [] %}
            {% embed 'VictoireWidgetSliderBundle::_item.html.twig' with params %}{% endembed %}
        {% endfor %}
    </div>
</div>

{% if widget.autoplay %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#carousel-{{ widget.id }}').carousel({
                interval: {{ widget.autoplaySpeed }}
            });
        });
    </script>
{% endif %}
